.card{
    width: 200px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 50px;
    background-color: black;
    padding: 15px;
    color: bisque;
    font-weight: bold;
}